:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#afa9a9;

	--themeDotBorder:#FFF;

	--preview:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;

	--buttonColor:#17a2b8;
    --projectCard:#164D56;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

body *{
	/* transition: 0.3s; */
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: Helvetica;
  padding: 1em 0;
}

p, li, span, label, input, textarea, p > a {
  color: var(--secondaryText);
  font-family: Helvetica;
}

a{
    color: var(--mainText);
    text-decoration: none;
}

/* h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;} */

.sec1, .sec2 {    
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    width: 100%;
    overflow: hidden;
    padding: 2em;
}

.sec2 {
    background-color: var(--secondaryColor);  
}

.sec_heading{
    margin: 1em;
}

.main-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  /* background-color: red; */
}

.greetings{
    display:grid;
    text-align: center;
    align-content: center;    
    min-height: 10em;    
}

.intro {
    display: flex;
    flex-direction: column;    
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor); 
    border-radius: 15px 15px 0 0;
    width: 92%;

    /*  Box Shadows   */
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    
}

.nav-wrapper{    
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 1em 1em 0 0;
}

.left-column{
    display: flex;
    flex-direction: column;    
    padding-top: 2em;
}

.right-column{
    display: flex;
    align-content: center;
    padding-top: 3em;    
    padding-bottom: 4em;
}

#profpic{
    height: 10em;
    width:10em ;
    display: block;    
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;        
}

#themes{
    display: flex;
    justify-content: center;    
}

.theme-dots{
    height: 2em;
    width: 2em;
    border-radius: 50%;

    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.theme-dots:hover{
    border-width: 3px;
}

#light-theme{ background-color: #fff; }
#blue-theme{ background-color: #192734; }
#green-theme{ background-color: #78866b; }
#purple-theme{ background-color: #7e4c74; }

#settings-note{
    font-size: 0.8em;
    padding-top: 1em;
    font-style: italic;
    text-align: center;
}

#navigation{
    margin: 0;
    padding: 0.8em;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 800;
}

#navigation a{
    color: var(--mainText);
}

.dots-wrapper{
    display:flex;
    padding: 10px;
}

#dot1{ background-color: #FC6058;}
#dot2{ background-color: #FEC02F;}
#dot3{ background-color: #2ACA3E;}

.dots{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 80%;
    height: 8em;
    padding-left: 2em;
    padding-top: 2em;
}

#preview{
    display: flex;
    flex-direction: column;
    width: 120%;
    height: 8em;
    border: 1.5px solid #17a2b8;
    background-color: var(--preview);
    padding: 1em;
    position: relative;
}

#preview h5{    
    padding: 0;
}

#preview p{
    font-size: 0.9em;
}

.corners{
    height: .5em;
    width: .5em;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;    
}

#corner1{ top: -.25em; left: -.25em; }
#corner2{ top: -.25em; right: -.25em; }
#corner3{ bottom: -.25em; left: -.25em; }
#corner4{ bottom: -.25em; right: -.25em; }


.about-wrapper{
    display: flex;
    flex-direction: column;    
}

.about-me, .future-tech{        
    text-align: justify;
    text-align-last: left;
    padding: 1em;
}

.about-me p, .future-tech p{
    font-size: 0.9em;
}

.about-me a, .social-links a{
    color: var(--secondaryText); 
    text-decoration: underline;
}

.skills{
    display: flex;
    width: 100%;
    background-color: var(--previewShadow);
    border-radius: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.skills ul{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0;
    padding-left: 10%;
    margin: 0;
}

.skills li{
    /* background-image: linear-gradient(to top left,#ff8a00,#e52e71)!important;     */
    text-align: left;
    list-style: none;
    font-size: 0.7em;
}

.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center ;
    justify-content: space-between;    
}

.social{
    margin: 1em;
}

.website{    
    height: 7.8em;
    width: 13.6em;
    border-radius: 0.5em;
 }

 .post-wrapper, .cards{
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     justify-content: center;
     padding: 1em;
 }
  
.cards {    
    margin-top: 2em;
    padding: 0;
    transition: 0.3s;    
    background-color: var(--borderColor);    
    box-sizing: border-box;
    height: fit-content;    
 }
 
.card-img{            
    width: 100%;
    height: 12em;      
 }

.cards-btn{
    margin-bottom: 0.4em;
    padding: 1em;
    margin-bottom: 0.8em !important;
    border-radius: 0 !important;
    width: 91%;
}
.cards:hover {
box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
background-color: var(--previewShadow);    
}

.container {
padding: 12px;
text-align: center;    
}


.dogo{
    display: block;
    height: fit-content;
    width: 100%;
}

.design1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* margin-bottom: 5em; */
    margin-top: 0;    
    gap: 4em 2em;
    transition: transform 0.5s ;
    grid-template-areas:
        "bg_1   bg_1   bg_1   text_1  text_1 "
        "text_2   text_2   bg_2   bg_2    bg_2"
        "bg_3   bg_3   bg_3   text_3   text_3";
}

.design1 > div{
    height: 23em;
    background-size: cover;
    width: 100%;
    border-radius: 0.4em;
}

.design1 p{
    text-align: justify;
}

.bg1{
    background: url(../images/riyadii_preview.png);
    grid-area: bg_1;    
}

.bg2{
    background: url(../images/signup_preview_2.png);
    grid-area: bg_2;
}

.bg3{
    background: url(../images/background.png);
    grid-area: bg_3;
}

.bg1:hover, 
.bg2:hover, 
.bg3:hover {
    transform: scale(1.015);
}


.text1{    grid-area: text_1;  }
.text2{    grid-area: text_2;;  }
.text3{    grid-area: text_3;;  }


.footer{    
    display: flex;    
    position: relative;    
    width: 100%;
    height: 180px;
}
.footer-color{
    background: #3D3939;
    padding: 1em;
}

.column, .footer_links{
    display: flex;
    list-style: none;
}

.footer_links{
    display: flex;
    width: 80%;    
    height: 100%;
    justify-content: space-around;
    
}
.column{
    flex-direction: column;
    padding: 2em;
}
.column a{          color: var(--secondaryText);    }
.column a:hover{    color: var(--mainText);    }

.contact_links, .social_media_links{    
    height: 100%;
}
.contact_links{  width: 80%;  }
.social_media_links{  
    width: 35%;
    display: flex;    
    align-items: center;    
}

.social_media_links i{
    font-size: 2.5em;
    padding: 0.2em;
    color: var(--secondaryText);
}

/* -------------------------------------- */

.carousel {
    position: relative;
    height: 450px;
    width: 85%;
    margin: 0 auto;
}

.carousel_container{
    /* background: lightgreen; */
    overflow: hidden;
    height: 80%;
    position: relative;    
    /* display: grid; */
}

.carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;    
}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_card {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "left right";
    /* border-radius: 15px; */
}
.carousel_card.card{
    background-color: var(--projectCard);
}

.left, .right{
    display: flex;
    position: absolute;
    justify-content: space-around;    
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.left { 
    left: 0; 
    grid-area: left;
}
.right { 
    right: 0; 
    padding: 1em;
    grid-area: right;
}

.carousel_image{
    width: 25em;
    height: auto;
    justify-content: center;
    margin: auto 1em;
    border: 1px solid #F2F2F2;
    /* position: absolute; */
    /* object-fit: cover; */
}

.carousel_link{
    height: 3.75em;
    line-height: 3.75em;
    width: 25em;
    background-color: #0b76b4;
    color: white;
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 400;
    border: 1px solid #F2F2F2;
    text-decoration: none;
    text-align: center;    
}
.carousel_link:hover{
    background-color: #0F92DC;
    text-decoration: none;
    color: white;
}

.carousel_link:focus{
    outline: none;
}

.class_title h1{
    /* margin: auto; */
    margin-top: 0.6em;
    font-size: 1.4em;
    margin-bottom: 0;
    color: var(--secondaryText);
}
.card_paragraph{
    font-size: 0.8em;
    padding-right: 2.5em;
    padding-left: 0;
    text-align: justify;
}

.tech-used{
    font-size: 1.5em;
    color: var(--secondaryText);
}
.tech-used i{
    margin-right:0.3em;
}

.carousel_btn{
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;    
    border: 0;
}

.carousel_btn i{
    width: 1.8em;
    font-size: 1.8em;
    color: var(--secondaryText);
}

.carousel_btn i:hover{
    color: white;
}

.carousel_btn-left{
    left: -6em;
}

.carousel_btn-right{
    right: -6em;
}

.carousel_nav{
    display: flex;
    justify-content: center;
    padding: 6px;
    margin: 1em;
}
    

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var(--borderColor);
    opacity: 1;
    margin: 0 7px;
}

.carousel_indicator.current_slide{    
    background: var(--secondaryText);
    opacity: 0.7;
}

.is_hidden {
    display: none;
}

.carousel_indicator:focus,
.carousel_btn:focus{
    outline: none;
}

.copyright{
    font-size: 0.75em;
    display: flex;
    justify-content: center;
}

/*========================================================================*/
/*------------------------   Max-Screeen-Size : 345px     ----------------*/
/*========================================================================*/

@media only screen and (max-width: 345px) {

    .sec_heading{
        margin: 0 auto;
        padding: 0;
        font-size: 1.8em;
    }

    .main-container{
        width: 100%;
    }

    .main-container h3{
        padding: 0;
    }

    .carousel{
        margin: 2em auto;
        height: 43em;
        width: 100%;
    }

    .left, .right{
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: relative;        
        padding: 0 1em;
    }

    .left{ 
        top: 0;
        height: 36%;
    }
    
    .right{
        bottom: 0;
        height: 64%;
    }

    .carousel_image, .carousel_link{
        width: 100%;
        margin: 0;
    }

    .carousel_link{
        height: 2em;
        line-height: 2em;
        margin: 0;
    }

    .class_title h1, .card_paragraph{
        margin: 0;
        padding: 0;
    }
    
    .class_title h1{
        font-size: 1em;
    }
    
    .card_paragraph{
        font-size: 0.8em;        
    }

    .tech-used{
        font-size: 1em;
    }
    .tech-used i{
        margin-right: 0 ;
    }
    
    .carousel_btn{
        top: 50%;        
    }
       
    .carousel_btn-left{
        left: -4em;
    }
    
    .carousel_btn-right{
        right: -4em;
    }

    .design1{
        grid-template-columns: 1fr;
        gap: 0;
        grid-template-areas: 
            "text_1"
            "bg_1"
            "text_2"
            "bg_2"
            "text_3"
            "bg_3";
    }

    .design1 > div{
        height: fit-content;
        padding: 1.2em 0;
    }

    .design1 > div:nth-of-type(1),
    .design1 > div:nth-of-type(4),
    .design1 > div:nth-of-type(5)
    {
        background-size: contain;
        background-repeat: no-repeat;
        height: 10em;
    }

    .footer-color, .footer{
        font-size: 0.8em;
        width: 100vw;
    }

    .column{
        padding: 0.3em;
    }

    .contact_links{
        width: 70%;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        align-items: stretch;
    }
    .social_media_links{
        flex-direction: column;
        width: 25%;
    }

}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 320px     ----------------*/
/*========================================================================*/

@media only screen and (min-width: 346px) {

    .sec_heading{
        margin: 1em auto;
        padding: 0;
        font-size: 1.8em;
    }

    .main-container{
        width: 100%;
    }

    .main-container h3{
        padding: 0;
    }

    .carousel{
        margin: 2em auto;
        height: 50em;
        width: 100%;
    }
  
    .left, .right{
        display: flex;
        position: relative;        
        justify-content: space-around;
        width: 100%;
        padding: 0 1em;
    }

    .left{ 
        top: 0;
        height: 40%;
    }
    
    .right{
        bottom: 0;
        height: 60%;
    }

    .carousel_image, .carousel_link{
        width: 100%;    }

    .carousel_image{
        margin: 1em auto;
    }
    .carousel_link{
        height: 2em;
        line-height: 2em;
        margin: 0;
    }

    .class_title h1, .card_paragraph{
        margin: 0;
        padding: 0;
    }
    
    .class_title h1{
        font-size: 1em;
    }
    
    .card_paragraph{
        font-size: 0.8em;        
    }

    .tech-used{
        font-size: 1em;
    }
    .tech-used i{
        margin-right: 0 ;
    }
    
    .carousel_btn{
        top: 50%;        
    }
       
    .carousel_btn-left{
        left: -4em;
    }
    
    .carousel_btn-right{
        right: -4em;
    }

    .design1{
        grid-template-columns: 1fr;
        gap: 0;
        place-items: center;
        grid-template-areas: 
            "text_1"
            "bg_1"
            "text_2"
            "bg_2"
            "text_3"
            "bg_3";
    }

    .design1 > div{
        height: fit-content;
        padding: 1.2em 0;
    }

    .design1 > div:nth-of-type(1),
    .design1 > div:nth-of-type(4),
    .design1 > div:nth-of-type(5)
    {
        background-size: contain;
        background-repeat: no-repeat;
        height: 12em;
    }

    .footer-color, .footer{
        font-size: 0.8em;
        width: 100vw;
    }

    .column{
        padding: 0.3em;
    }

    .contact_links{
        width: 70%;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        align-items: stretch;
    }
    .social_media_links{
        flex-direction: column;
        width: 25%;
    }
    

}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 400px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 400px){
    p{
        font-size: 1.1em !important;
    }

    .design1 > div:nth-of-type(1),
    .design1 > div:nth-of-type(4),
    .design1 > div:nth-of-type(5)
    {        
        height: 15em;
    }
}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 530px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 530px){
    /* p{
        font-size: 1.1em !important;
    } */

    .design1 > div:nth-of-type(1),
    .design1 > div:nth-of-type(4),
    .design1 > div:nth-of-type(5)
    {        
        height: 20em;
    }

    .carousel {
        /* margin: 1em auto; */
        height: 50em;
        width: 85%;        
    }

    .left{         
        height: 44%;
    }
    
    .right{        
        height: 66%;
    }
}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 600px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 600px) {
    
    .right-column{
        padding-left: 4em;
    }

    #preview-shadow{
        width: 70%;
    }

    .skills, .website, .cards{
        font-size: 1.5em !important;
    }

    .cards-btn{
        width: 94%;
    }
    .post-wrapper{
        padding: 4em !important;
    }

}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 768px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 767px) {
   
    .design1{
        padding: 1em;
        margin: 1em;
        grid-template-columns: repeat(5, 1fr);
        gap: 1em 1em;
        transition: transform 0.5s ;
        grid-template-areas:
            "bg_1   bg_1   bg_1   text_1  text_1 "
            "text_2   text_2   bg_2   bg_2    bg_2"
            "bg_3   bg_3   bg_3   text_3   text_3";
    }

    .design1 > div{
        width: 100%;
        border-radius: 0.4em;
        padding: 1em 0;
    }

    .design1 > div:nth-of-type(1),
    .design1 > div:nth-of-type(4),
    .design1 > div:nth-of-type(5)
    {        
        height: 15em;
    }

    .carousel {
        margin: 1em auto;
        height: 28.125em;
        width: 85%;        
    }

    .left, .right{
        position: absolute;
        height: 100%;
        width: 50%;
        padding: 1em;
    }
    
    .left { 
        left: 0; 
        grid-area: left;
    }
    .right { 
        right: 0; 
        grid-area: right;
    }

    .carousel_image{
        height: auto;
        justify-content: center;
        margin: auto;        
    }
    
    .carousel_link{
        height: 3.75em;
        line-height: 3.75em;
        margin: auto;        
    }

    .sec_heading{
        margin-top: 1em;
    }

    .card-img{        
        height: 9.5em !important;
   }

    .post-wrapper{               
        padding: 4em !important;        
        display: grid !important;
        align-items: center !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 0 2em !important;
   }

   .footer-color, .footer{
        font-size: 1em;
    }

    .social_media_links{
        flex-direction: row;
        width: 33%;
        /* background-color: red; */
    }

}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 1024px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 1024px) {    
    .website{
        font-size: 2.5em !important;
    }
    
    .card-img{        
        font-size: 1.2em !important;
   }


    .design1{
        padding: 0 4em;
        margin: 1em 2em;
        grid-template-columns: repeat(5, 1fr);
        gap: 2em;
        transition: transform 0.5s ;
        grid-template-areas:
            "bg_1   bg_1   bg_1   text_1  text_1 "
            "text_2   text_2   bg_2   bg_2    bg_2"
            "bg_3   bg_3   bg_3   text_3   text_3";
    }

    .design1 > div{
        width: 100%;
        border-radius: 0.4em;
        padding: 1em 0;
    }

    .design1 > div:nth-of-type(1),
    .design1 > div:nth-of-type(4),
    .design1 > div:nth-of-type(5)
    {        
        height: 20em;
    }
}

/*========================================================================*/
/*------------------------   Min-Screeen-Size : 1200px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 1200px) {  

    .main-container{    
        padding: 0 3.5em;    
    }

    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'nav-wrapper nav-wrapper'
            'left-column right-column' ;
    }

    .nav-wrapper{
        grid-area: nav-wrapper !important;    
    }

    .left-column, .right-column{
        padding-top: 3em;
        padding-bottom: 3em;
        justify-content: center;
        align-items: center;    
    }

    .about-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2em !important;    
    }

    .about-me{        grid-row: 1/2; }
    .skill-wrapper{   grid-row: 2/3; }

    .social-links{
        grid-row: 1/3;
        align-self: center;    
    }

    .post-wrapper{
        font-size: 0.8em;
    }

    .cards{
        width: 70% !important;
    }

    .design1{
        padding: 0 1em;
        margin: 1em;
        gap: 2em;
    }
    
}


/*========================================================================*/
/*------------------------   Min-Screeen-Size : 1600px     ----------------*/
/*========================================================================*/

@media screen and (min-width: 1600px) {

    .main-container{
        min-width: 1360px;
        padding-left: 8em;
        padding-right: 8em;
    }

    .card-img{        
        font-size: 1.2em !important;
   }

   .cards{
        width: 50% !important;
        justify-self: center;
    }

}